<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Password</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Pincode</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{ c.name }}</td>
        <td>{{ c.mobile }}</td>
        <td>{{ c.password }}</td>
        <td>{{ c.address }}</td>
        <td>{{ c.state }}</td>
        <td>{{ c.city }}</td>
        <td>{{ c.pincode }}</td>
        <td>{{ c.email }}</td>
      </tr>
    </tbody>
  </table>
  